@import "./variables";
@import "./mixins";

html {
  font-size: $font-size;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  &-body {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@include breakpoints-max(xl) {
  #root {
    padding: 1rem;
  }
}
